.body{
    background-image:url(descarga%201.jpeg)S;
    background-position: center;
    background-size: cover;
    
}
.es{
    
     background-color: black;
    width: 1000px;
    height: 20px;
}